<?xml version="1.0" encoding="utf-8"?>
<Configuration status="info">
    <Properties>
        <Property name="logDir">logs</Property>

        <Property name="info">[%d{HH:mm:ss}] [%level]: %m%n</Property>
        <Property name="debug">[%d{MM-dd,HH:mm:ss,SSS}] [%t/%level] %l: %m%n</Property>
    </Properties>

    <Appenders>
        <Console name="console" target="SYSTEM_OUT">
            <PatternLayout pattern="${info}"/>
        </Console>

        <File name="fileOut_debug" fileName="${logDir}/debug.log" append="false">
            <PatternLayout pattern="${debug}"/>
        </File>

        <RollingFile name="fileOut" fileName="${logDir}/latest.log"
                     filePattern="${logDir}/info-%d{yyyy-MM-dd}-%i.log.gz">
            <PatternLayout pattern="${info}"/>
            <Policies>
                <OnStartupTriggeringPolicy/>
                <TimeBasedTriggeringPolicy/>
                <SizeBasedTriggeringPolicy size="1 MB"/>
            </Policies>
            <DefaultRolloverStrategy max="10"/>
        </RollingFile>
    </Appenders>

    <Loggers>
        <Root level="all">
            <AppenderRef ref="console"/>
            <AppenderRef ref="fileOut"/>
            <AppenderRef ref="fileOut_debug"/>
        </Root>
    </Loggers>
</Configuration>